.button {
  width: 30px;
  height: auto;
  padding: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
  outline: none;
  color: white;
}

.button:hover {
  color: #ae6563;
}
.buttons {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding: 15px;
  justify-content: space-around;
}

.buttonWrapper {
  background-color: #601526;
  display: flex;
  width: 600px;
  justify-content: center;
  border: solid;
  border-width: 0 15px 15px 15px;
}
