.gameWrapper {
  background-image: url(./assets/background/Tatami.png);
  display: flex;
  flex-direction: column;
  border-radius: 5px 5px 0 0;
  height: 500px;
  width: 600px;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  border: solid;
  border-width: 15px 15px 0 15px;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameOver {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: auto;
  border-radius: 5px;
}

.gameName {
  background-color: black;
  color: white;
  width: 600px;
  border: solid black;
  border-width: 0 15px 0 15px;
  border-radius: 0 0 5px 5px;
  text-align: center;
  padding-bottom: 10px;
}
.gameBoyBackground {
  background-color: #d09411;
  position: absolute;
  width: 700px;
  height: 900px;
  z-index: -100;
  transform: translateY(-50px);
  border-radius: 20px;
}
