@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: url('./assets/background/Stars.png');
  background-repeat: repeat;
  background-size: 300px;
  animation: twinkle 4s steps(2) infinite;
}

@keyframes twinkle {
  to {
    background-position: -300px;
  }
}
