@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  background-color: #4d4855;
  background-image: linear-gradient(147deg, #000000 0%, #4d4855 96%);
  font-family: 'Roboto Mono', monospace;
}
